<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>pesaPi</servlet-name>
        <servlet-class>com.pesaPi.servlets.pesaPi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>simpleSync.example</servlet-name>
        <servlet-class>com.pesaPi.example.simplesync.example</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>scrubber</servlet-name>
        <servlet-class>com.pesaPi.Utils.scrubber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>configurationProxy</servlet-name>
        <servlet-class>com.pesaPi.Utils.ConfigurationProxy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>configuration</servlet-name>
        <servlet-class>com.pesaPi.Utils.configuration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autoloader</servlet-name>
        <servlet-class>autoloader</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pesaPi</servlet-name>
        <url-pattern>/pesaPi</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
    <servlet-name>simpleSync.example</servlet-name>
    <url-pattern>/simpleSync.example</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>scrubber</servlet-name>
        <url-pattern>/scrubber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>configurationProxy</servlet-name>
        <url-pattern>/configurationProxy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>configuration</servlet-name>
        <url-pattern>/configuration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autoloader</servlet-name>
        <url-pattern>/autoloader</url-pattern>
    </servlet-mapping>
</web-app>
